
# Compiled source #
###################
*.so
*.o


*.out
makeRun


# Working notes, not tracked #
###############################
MHD_Solvers/solvers/apotBCMultiRegionInterFoam/RECOMMENDED_SOLVERS.md
